@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Raleway:wght@500&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inclusive Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.DishContain {
  display: flex;
  flex-direction: column;
  width: 490px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  border-radius: 10px;
  animation: contain-appear 0.5s ease-in-out;
}
.DishContain:hover {
  box-shadow: 0 0 5px 2px gray;
}

.DishContain > img {
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.DishNameSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DishDescription {
  padding: 0 24px 0 24px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  height: 110px;
  padding: 20px;
}

.DishRatingAndPrice {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: gray;
}

.DishRatingAndPrice > img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.DishTime {
  color: white;
  background-color: black;
  padding: 2px 8px 2px 8px;
}

.Rating {
  padding-right: 26px;
  color: #ffc107;
  font-weight: 600;
}

.Price {
  padding-right: 30px;
}

@media (max-width: 415px) {
  .DishContain {
    min-width: 290px;
  }
}

@keyframes contain-appear {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
